p {
    /*color: green;*/
    width="200";
    height="200";
}

body {
    /*background-color: gray;*/
    background-image: url('03.jpg');
    background-repeat: no-repeat;
    background-size:100% ;
    background-attachment: fixed;
    /*background-size:100% 100%;*/
    font-family: "Microsoft Yahei", "微软雅黑", "Arial", sans-serif;
    /*text-align: center;*/
    margin: 0 auto;
    padding-top: 100px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 520px;
}

p {
    /*background-color: red;*/

    font-size: 18px;
    text-align: center;
}

table {
    /*border-width: 1px;*/
    border-style: dotted;
    border-color: black;
}