{# 引入母版 #}
{% extends 'base.html' %}

{% block base-main %}
<h1 class="page-header">用户列表</h1>

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">用户列表<i class="fa fa-thumb-tack pull-right"></i></div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">搜索</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-1 pull-right">
                            <a class="btn btn-success" href="/add_user/" >新增</a>
{#                            <button class="btn btn-success" data-toggle="modal" data-target="#myModal">新增</button>#}
                        </div>

                    </div><!-- /.row -->

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>id</th>
                            <th>用户名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in user_list %}
                            <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>
                                <a class="btn btn-danger" href="/delete_user/?id={{ user.id }}">删除</a>
                                <a class="btn btn-info" href="/edit_user/?id={{ user.id }}">编辑</a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="text-right">
                        <ul class="pagination">
                           {{ page_html|safe }}
                        </ul>
                    </nav>
                </div>

            </div>
{% endblock %}

