<div data-ng-controller="ProjectDeployCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-4">
            <h2>SmartOps | 自动化运维系统</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">SmartOps</a>
                </li>
                <li>
                    <a>项目</a>
                </li>
                <li class="active">
                    <strong>部署</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                <div class="form-group">
                    <ui-select ng-model="project.selected" theme="bootstrap">
                        <ui-select-match  placeholder="选择项目">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in projects | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                            <small ng-bind-html="item.description | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight blog">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" ui-sref="email_compose">新建</a>

                            <div class="space-25"></div>
                            <h5>部署脚本</h5>
                            <ul class="folder-list m-b-md" style="padding: 0" ng-repeat="d in deploys">
                                <li ng-click="getDeploy(d.id)"> <i class="fa fa-inbox "></i>{{ d.name }}</li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div id="PEdit">
                    <textarea style="display:none;"></textarea>
                </div>

            </div>
        </div>
    </div>

</div>