{% extends "base.html"%}

{% block head %}
	{{ dropzone.load_css() }}
	{{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}
{% endblock %}

{% block content %}


<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">代码管理</a>
							</li>
							<li class="active">代码上传</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
						<div> {{ dropzone.create(action='/upload_code') }} </div>
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

{{ dropzone.load_js() }}
{% endblock %}