<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>目录</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <table class="table table-bordered"
        <thead>
        <tr>
            <th>#</th>
            <th>功能</th>
            <th>链接</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>出版社列表</td>
            <td><a href="/app01/publisher_list">链接</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>